/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 /* Default Global Styles */
.slideshow-mgarcia-feed-title h5 span {
	font-size:80%;
	opacity:0.6;
	font-style:italic;
}

.slideshow-mgarcia-feed-title h5 {
	margin-bottom:10px;
}

.slideshow-mgarcia-container ul.slideshow-mgarcia-list {
	list-style:none;
	margin:0;
	padding:0;
}

.slideshow-mgarcia-container ul.slideshow-mgarcia-list .slideshow-mgarcia-list-item {
	margin:0;
	padding:0;
	list-style:none;
}

.slideshow-mgarcia-list-container {
	padding:40px;
	margin-bottom:30px;
}

.slideshow-mgarcia-list-item .wp-block-post-featured-image a img {
	object-fit: cover;
	height:300px;
}

.slideshow-mgarcia-container h2 {
	margin-bottom:10px;
}

.slideshow-mgarcia-date,
.slideshow-mgarcia-date-dash {
	opacity:0.65;
}

.slideshow-mgarcia-meta-excerpt {
	font-size:85%;
}


/* Show/Hide Elements */
.slideshow-mgarcia-container ol.slideshow-mgarcia-bullets,
.slideshow-mgarcia-container .slideshow-mgarcia-prev, 
.slideshow-mgarcia-container .slideshow-mgarcia-next,
.slideshow-mgarcia-feed-title,
.slideshow-mgarcia-meta-excerpt,
.slideshow-mgarcia-meta-list,
.wp-block-post-featured-image {
	display:none;
    visibility: hidden;
}

.slideshow-mgarcia-container.has-bullet-nav ol.slideshow-mgarcia-bullets {
    display: flex;
    visibility: visible;
}
.slideshow-mgarcia-container.has-arrow-nav .slideshow-mgarcia-prev, 
.slideshow-mgarcia-container.has-arrow-nav .slideshow-mgarcia-next,
.slideshow-mgarcia-container.has-feed-front-end .slideshow-mgarcia-feed-title, 
.slideshow-mgarcia-container.has-excerpt .slideshow-mgarcia-meta-excerpt,
.slideshow-mgarcia-container.has-meta .slideshow-mgarcia-meta-list,
.slideshow-mgarcia-container.has-featured .wp-block-post-featured-image {
	display:block;
    visibility: visible;
}

/* Carousel Default Styles */
.slideshow-mgarcia-container {
    position: relative;
}

.slideshow-mgarcia-container ul {
  overflow: auto; 
  display: flex; 
  scroll-snap-type: x mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100%;
}

.slideshow-mgarcia-container ul::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
} 

.slideshow-mgarcia-container ul li {
  width: 100%;
  min-width: 100%; 
  list-style: none; 
  scroll-snap-align: start;
  
}

/* Bullet Navigation Styles */
.slideshow-mgarcia-container ol {
    position: absolute;
    margin:0;
    bottom: 20px;
    padding:0;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
     z-index: 9;
}

.slideshow-mgarcia-container ol li {
    list-style: none;
    padding: 0 5px;
}
.slideshow-mgarcia-container ol li a {
    display: block;
    height: 10px;
    width: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
	transition: background-color 250ms ease;
}

.slideshow-mgarcia-container ol li a:hover {
	background: rgba(0, 0, 0, 0.55);
}

.slideshow-mgarcia-container ol li.selected a {
    background: rgba(0, 0, 0, 0.8);
}

/* Next & Previous Navigation */
.slideshow-mgarcia-prev, 
.slideshow-mgarcia-next {
    user-select:none;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
	text-align:center;
	width:30px;
	line-height:40px;
	height:40px;
	font-size: 40px;
	transition: color 250ms ease;
	color: rgba(0, 0, 0, 0.6);
}

.slideshow-mgarcia-prev:hover, 
.slideshow-mgarcia-next:hover {
	color: rgba(0, 0, 0, 0.9);
}

.slideshow-mgarcia-next {
    left: auto;
    right: 0px;
}

.slideshow-mgarcia-nofeed {
    width:100%;
}

.slideshow-mgarcia-nofeed h5 {
    padding:20px 0px;
    text-align:center;
}