/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 /* Default Global Styles */
.wp-block-create-block-slideshow-mgarcia {

}

.slideshow-mgarcia-feed-title h3 {

}

.slideshow-mgarcia-feed-title h5 span {
	font-size:80%;
	opacity:0.6;
	font-style:italic;
}

ul.slideshow-mgarcia-list {
	list-style:none;
	margin:0;
	padding:0;
}

ul.slideshow-mgarcia-list .slideshow-mgarcia-list-item {
	margin:0;
	padding:0;
}

/* Show/Hide Elements */
.slideshow-mgarcia-meta-excerpt,
.slideshow-mgarcia-meta-list,
.wp-block-post-featured-image {
	display:none;
}

.slideshow-mgarcia-list.has-excerpt .slideshow-mgarcia-meta-excerpt,
.slideshow-mgarcia-list.has-meta .slideshow-mgarcia-meta-list,
.slideshow-mgarcia-list.has-featured .wp-block-post-featured-image {
	display:block;
}